@import "../../../config/Config";

.SideBar{
  height: 100%;
  min-height: 100vh;
  width: $sizeSideBarWidth;
  position: relative;
  z-index: $zIndexSideBar;
  border-right: 1px solid #f5f5f5;


  & > .container{
    position: fixed;
    //height: calc(100% - calc(#{$sizeNavHeight} + 10px));
    height: auto;
    padding-top: calc(#{$sizeNavHeight} + 10px);
    background: #fff;


    & > .divider{
      height: 1px;
      background: #f5f5f5;
      width: 100%;
      margin: 10px 0;
    }

  }
}