@import "../../../config/Config";

.SideBar{
  height: 100%;
  min-height: 100vh;
  width: $sizeSideBarWidth;
  position: relative;
  z-index: $zIndexSideBar;

  & > .container{
    height: 100vh;
    position: fixed;
    padding-top: calc(#{$sizeNavHeight} + 10px);
    //border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    //box-shadow: 0 0 5px rgba(0,0,0,0.01);

  }
}