@import "../../../config/Config";

.NetworkManager{
  @include gradient();
  color: #fff !important;
  $colorStepDefault : $colorTable_GrayBlue_Dark;

  &:before{
    content : '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 211px;
    background:rgba(255,255,255,0.05);
  }

  & + nav{
    box-shadow: none !important;
    background: transparent;


  }

  & > .container{
    background: transparent;
    border: none;
    position: relative;

    & > .content{
      padding-left: 10px;
      padding-right: 10px;
      & > .header{
        width: calc(100% - 2 * 40px);
        border-radius: 30px 30px 0 0;
        padding: 40px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > .title{
          background: $colorSecondary;
          height: 30px;
          border-radius: 15px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          p{
            font-size: 10pt;
            color: #ffffff;
            font-weight: 600;
          }

        }
        & > .steps{
          width: 100%;
          padding-bottom: 40px;
          margin-bottom: 0;
          border-bottom: 1px solid #eee;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          position: relative;


          & > .step{
            display: flex;
            flex-direction: row;
            align-items: center;

            & > .icon {
              background: $colorStepDefault;
              height: 36px;
              width: 36px;
              border-radius: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: background 0.2s;

              i {
                color: #ffffff;
                font-size: 14pt;
              }
            }
            & > .title{
                padding-left: 10px;
                display: flex;
                flex-direction: row;
                p{
                  color: darken($colorStepDefault,10%);
                  font-size: 11pt;
                  font-weight: 500;
                  transition: color 0.2s;
                }
                & > .complete{
                  width: calc(20px - 6px);
                  padding-left: 6px;
                  opacity: 0;
                  transition: opacity 0.2s;
                  display: flex;
                  justify-content: flex-start;

                  i{
                    color: $colorStepDefault;
                    font-size: 12pt;
                    margin-top: -2px;
                  }
                }


              }

            & > .divider{
                margin-left: 10px;
                margin-right: 30px;
                width: 50px;
                height: 1px;
                background: #ddd;
                transition: background 0.2s;
              }

            &:last-of-type{
                & > .divider{
                  display: none;
                }
              }


            &[data-active="true"]{
              cursor: default;
              & > .icon{
                background: $colorSecondary;
                transition: background 0.2s;
              }
              & > .title{
                p{
                  color: $colorSecondary;
                  transition: color 0.2s;
                }
                & > .complete{
                  i{
                    color: $colorSecondary;
                  }
                }
              }
              & > .divider{
                background: $colorSecondary;
                transition: background 0.2s;
              }
            }

            &:not([data-not-in-use="true"][data-active="true"]){
              &:hover{
                & > .icon{
                  background: darken($colorStepDefault, 10%);
                  transition: background 0.2s;
                }
                & > .title{
                  p{
                    color:  darken($colorStepDefault, 20%);
                    transition: color 0.2s;
                  }
                }
              }
            }

            &[data-forbidden="true"]{
              cursor: not-allowed;
            }
            &[data-completed="true"]{
              & > .title{
                & > .complete{
                    opacity: 1;
                    transition: opacity 0.2s;
                }
              }
            }
          }

        }
      }
      & > .main{
        width: calc(100% - 2 * 40px);
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #eeeeee;
        min-height: 440px;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;


        &:after{
          content : ' ';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: #ffffff;
          @include fade-out(0.3s, 0.3s);
          z-index: 100;
          pointer-events: none;
        }

        & > .left{
          height: 100%;
          flex: 1;

          & > .content{
            display: flex;
            flex-direction: column;
            width: calc(100% - 40px);
            transition: height 0.3s;
            position: relative;


            @keyframes step-fade-in {
              0% {
                opacity: 0
              }
              1%{
                opacity: 0;
              }
              100%{
                opacity: 1;
                pointer-events: all;
                z-index: 2;
              }
            }
            @keyframes step-fade-out {
              0% {
                opacity: 1;
              }
              99%{
                opacity: 0;
              }
              100%{
                opacity: 0;
                pointer-events: none;
                z-index: 1;
              }
            }
            @mixin step-fade-in($duration : 0.3s, $delay : 0.2s){
              animation-name: step-fade-in;
              animation-direction: normal;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              animation-duration: $duration;
              animation-delay: $delay;
            }
            @mixin step-fade-out($duration : 0.2s, $delay : 0s){
              animation-name: step-fade-out;
              animation-direction: normal;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              animation-duration: $duration;
              animation-delay: $delay;
            }



            & > .step {
              padding-right: 40px;
              opacity: 0;
              position: absolute;
              left: 0;
              top: 0;
              width: calc(100% - 40px);
              @include step-fade-out();

              &[data-active="true"]{
                  @include step-fade-in();
              }

              &[data-step="0"]{
                & > section{
                  &.default{
                    & > .title {

                    }
                  }
                }
              }
              &[data-step="1"]{
                & > section{
                  &.custom > .content, &.default > .content{
                    grid-template-columns: 1fr;
                    grid-row-gap: 0;
                    grid-column-gap: 0;
                  }
                }
              }
              &[data-step="2"]{
                & > section{
                  align-items: flex-start;
                  & > .title{
                    display: flex;
                    align-items: center;
                  }
                  & > .content{
                    width: 100%;
                    & > .summary{
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      width: 100%;

                      & > .title {
                        border-radius: 4px;
                        background: #eee;
                        padding: 4px 8px;
                        margin-bottom: 10px;

                        p {
                          color: #aaa;
                          font-size: 9pt;
                          font-weight: 600;
                        }
                      }
                      & > .group{
                        display: grid;
                        width: 100%;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 20px;
                        grid-row-gap: 10px;
                        & > div{
                          grid-column: span 1;
                        }
                      }
                    }

                    & > .action{
                      width: 100%;
                      padding-top: 30px;
                      padding-bottom: 40px;
                      border-bottom: 1px solid #eeeeee;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;

                      display: none;

                      & > .content{
                        p{
                          font-size: 11pt;
                          color: $colorTable_GrayBlue_DarkText;
                          margin-right: 30px;
                        }
                      }


                      & > .buttonLive{
                        @include button_default($colorSecondary);
                      }
                    }
                  }
                  &:last-of-type{
                    border-top: 1px solid #eee;
                    padding-top: 30px;
                  }
                }
              }

              & > section {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 30px;

                &:last-of-type {
                  margin-bottom: 0;
                }

                & > .title {
                  margin-bottom: 20px;

                  & > p {
                    font-size: 13pt;
                    color: darken($colorTable_GrayBlue_DarkText, 15%);//#111111;
                    font-family: $fontPrimary;
                    z-index: 2;
                    font-weight: 500;
                    position: relative;

                    & > span {
                      color: darken($colorTable_GrayBlue_DarkText, 15%);
                      font-family: $fontPrimary;
                      font-weight: 500;
                      font-size: 13pt;
                    }
                  }
                }

                & > .warn{
                  min-height: 14px;
                  margin-bottom: 10px;
                  width: 100%;
                  &[data-active="true"]{
                    & > .content{
                      display: flex;
                    }
                  }
                  & > .content{
                    display: none;
                    p{
                      font-size: 8pt;
                      font-weight: 400;
                      text-align: left;
                      color: $colorTable_Red1;
                    }
                  }
                }

                & > .subtitle {
                  margin-bottom: 20px;

                  p {
                    font-size: 11pt;
                    font-weight: 400;
                    color:$colorTable_GrayBlue_DarkText;// #999;
                    font-family: $fontSecondary;
                  }
                }

                &.default {
                  min-height: 240px;

                  & > .content {

                    & > .networks {
                      display: grid;
                      grid-template-columns: repeat(10, 1fr);
                      grid-gap: 10px;
                    }
                  }
                }

                &.custom {
                  & > .content {


                  }
                }

                &[data-active="true"] {
                  & > .title, & > .subtitle {
                    opacity: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:before {
                      content: ' ';
                      position: absolute;
                      left: - 15px;
                      height: 8px;
                      width: 8px;
                      background: $colorSecondary;
                      border-radius: 4px;
                    }

                    & > p {
                      color: $colorSecondary;
                      & > span {
                        color: $colorSecondary;
                      }
                    }

                  }
                  & > .content {
                    opacity: 1;
                  }
                }


                &[data-active="false"]{
                  cursor: pointer;
                  & > .title, & > .subtitle{
                    pointer-events: none;
                    opacity: 0.5;
                  }
                  & > .warn{
                    & > .content{
                      display: none !important;
                    }
                  }
                  & > .content {
                    pointer-events: none;
                    opacity: 0.5;
                  }
                }
              }


            }


          }
        }

        & > .right{
          width: 351px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border: 1px solid #eeeeee;
          border-right: none;
          padding: 20px 0 20px 30px;
          border-radius: 30px 0 0 30px;

          & > .header{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eeeeee;
            width: 100%;

            & > .shapes{
              margin-right: 10px;
              display: flex;
              flex-direction: row;
              div{
                height: 10px;
                width: 10px;
                border-radius: 5px;
                margin-right: 5px;

                &:nth-child(1){
                  background: $colorTable_Red1;
                }
                &:nth-child(2){
                  background: $colorTable_Yellow1;
                }
                &:nth-child(3){
                  background: $colorTable_Green1;
                }

              }
            }

            &> .label{
              background: #f5f5f5;
              border-radius: 4px;
              padding: 4px 10px;
              margin-left: 4px;
              position: relative;
              flex: 1;

              &[data-highlight="true"]{
                p{
                  color: $colorSecondary;
                }
              }

              p{
                font-style: italic;
                font-size: 9pt;
                color: #ccc;
                font-weight: 400;
                user-select: none;
                width: 100%;

                max-width: 100%;
                @include ellipsis;
              }

              &:after{
                //content: '_';
                font-size: 10pt;
                font-weight: 500;
                position: absolute;
                left: calc(100% + 10px);
                top: 0;
                width: 60px;
                color: #eee;
                user-select: none;
                background: #f9f9f9;
                border-radius: 4px;
                padding: 4px 20px;
              }
            }
          }

          & > .container {
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;

            & > .content {
              width: 100%;
              display: flex;
              flex-direction: row;

              & > .default {
                z-index: 2;
                display: grid;
                grid-template-columns: 1fr;
                flex: 1;
              }

              & > .group {
                width: 100px;
                z-index: 1;
                position: relative;

                & > .item {
                  background: #eeeeee;
                  border-radius: 4px;

                  &:nth-child(1) {
                    position: absolute;
                    top: 30px;
                    left: -15px;
                  }

                  &:nth-child(2) {
                    position: absolute;
                    top: 90px;
                    left: 50px;
                    transform: rotate(15deg);
                    filter: blur(1px);
                  }

                  &:nth-child(3) {
                    position: absolute;
                    top: 160px;
                    left: 10px;
                    transform: rotate(-15deg);
                    filter: blur(2px);
                    opacity: 0.6;
                  }
                }
              }
            }
          }
        }

      }

      & > .footer{
        width: calc(100% - 2 * 40px);
        background: #ffffff;
        border-radius: 0 0 30px 30px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .divider{
          height: 100%;
          flex: 1;
        }


        .buttonLeft{
          @include button_default_gray;

        }
        .buttonCancel{
          @include button_simple_gray;
        }
        .buttonRight{
          @include button_default($colorSecondary);
        }
      }
    }
  }




  &.Add{

  }

  &.Edit{
    & > .container{
      & > .content {
        & > .main{
          & > .left{
            & > .content{
              & > .step{

              }
            }
          }
        }
      }
    }
  }
}