.gradient, #introHeader {
  background: #04befe;
  background: linear-gradient(15deg, #4481eb, #04befe);
  background: -webkit-linear-gradient(15deg, #4481eb, #04befe);
  background: -moz-linear-gradient(15deg, #4481eb, #04befe);
  background: -o-linear-gradient(15deg, #4481eb, #04befe); }

.gradient85 {
  background: #04befe;
  background: linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85));
  background: -webkit-linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85));
  background: -moz-linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85));
  background: -o-linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85)); }

.gradient25 {
  background: #04befe;
  background: linear-gradient(25deg, #4481eb, #04befe);
  background: -webkit-linear-gradient(25deg, #4481eb, #04befe);
  background: -moz-linear-gradient(25deg, #4481eb, #04befe);
  background: -o-linear-gradient(25deg, #4481eb, #04befe); }

.gradientPurple {
  background: #7F00FF;
  background: linear-gradient(-25deg, #7F00FF, #E100FF);
  background: -webkit-linear-gradient(-25deg, #7F00FF, #E100FF);
  background: -moz-linear-gradient(-25deg, #7F00FF, #E100FF);
  background: -o-linear-gradient(-25deg, #7F00FF, #E100FF); }

.gradientOrange {
  background: #f9d423;
  background: linear-gradient(25deg, #f9d423, #ff4e50);
  background: -webkit-linear-gradient(25deg, #f9d423, #ff4e50);
  background: -moz-linear-gradient(25deg, #f9d423, #ff4e50);
  background: -o-linear-gradient(25deg, #f9d423, #ff4e50); }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.transition01 {
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s; }

.transition02 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s; }

.transition03 {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s; }

.transition05, #introToolbarButtonConnect div, #introToolbarButtonConnect div span, #introToolbarButtonConnect div:hover, #introToolbarButtonConnect div:hover span, .introToolbarDivider, .introToolbarButton:hover .introToolbarDivider, #introToolbarButtonConnect:hover .introToolbarDivider {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; }

.disableClick {
  filter: grayscale(50%);
  opacity: 0.5;
  pointer-events: none; }

#introHeader {
  display: flex;
  flex-direction: column; }

.background {
  width: 100%;
  display: none; }

#introToolbar {
  height: 70px;
  width: 100%;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  /*center-horizontal*/
  padding-bottom: 5px; }

/* align-items: center; ==> center-vertical*/
#introToolbarLogo {
  height: 100%;
  max-height: 40px;
  width: auto; }

#introToolbarButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%; }

.introToolbarButton, #introToolbarButtonConnect {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
  cursor: pointer; }

.introToolbarButton span, #introToolbarButtonConnect span {
  padding: 0 20px;
  border-radius: 18px;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9pt; }

#introToolbarButtonConnect div {
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border: 1px solid #ffffff; }

#introToolbarButtonConnect div span {
  padding: 0 20px;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  font-size: 9pt;
  color: #ffffff;
  text-transform: uppercase; }

#introToolbarButtonConnect div:hover {
  background: #ffffff; }

#introToolbarButtonConnect div:hover span {
  color: #04befe; }

.introToolbarDivider {
  margin-top: 3px;
  width: 0;
  background: #ffffff;
  height: 1px; }

.introToolbarButton:hover .introToolbarDivider, #introToolbarButtonConnect:hover .introToolbarDivider {
  width: 80%; }

#mainHeaderContent {
  height: 360px;
  padding-left: 0 !important;
  padding-right: 0 !important; }

#introToolbarLogoContainer {
  padding: 0; }

@media all and (max-width: 970px) {
  #introToolbarLogoContainer {
    padding-left: 15px; }

  #introToolbarLogo {
    max-height: 30px; }

  .introToolbarButton, #introToolbarButtonConnect {
    padding-left: 0; }

  .introToolbarButton span, #introToolbarButtonConnect span {
    font-size: 8pt;
    padding: 0 10px; }

  #introToolbarButtonConnect {
    padding-left: 0;
    height: 28px;
    border-radius: 14px; }

  #introToolbarButtonConnect div span {
    font-size: 8pt;
    padding: 0 10px; }

  #introToolbarButtons {
    justify-content: flex-end; }

  #introToolbarInnerContainer {
    padding: 0 !important; } }
#mainContentContainer {
  background: #ffffff;
  display: flex;
  padding: 30px 60px 40px 60px;
  flex-direction: column;
  position: relative;
  min-height: 90vh; }

.rightFormTitle {
  font-size: 13pt;
  color: #000;
  margin-bottom: 15px; }

#rightFormUserlink {
  margin-right: 5px;
  font-size: 9pt; }

.rightFormInput, .rightFormInputLocked {
  color: #000000;
  font-size: 11pt;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none; }

.rightFormInputLocked {
  background: #f9f9f9;
  color: #aaaaaa;
  border-color: #f5f5f5;
  user-select: none;
  min-height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px; }

#rightAddNetworkButtonContainer {
  width: 100%;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  opacity: 1;
  filter: none;
  pointer-events: auto; }

@media all and (max-width: 970px) {
  #mainContentContainer {
    padding: 20px 0; } }
#passwordShieldContainer {
  position: relative;
  width: 220px; }

#passwordShield {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1; }

#passwordOverlay {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
  animation-duration: 1.4s;
  animation-name: changeRotation;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes changeRotation {
  from {
    transform: rotate(2deg) scale(0.95); }
  to {
    transform: rotate(-2deg) scale(1); } }
.disableClick {
  filter: grayscale(50%);
  opacity: 0.5;
  pointer-events: none; }

* {
  -webkit-appearance: none; }

#changePasswordButton {
  margin-right: 20px; }

@media all and (max-width: 992px) {
  #illustrationCol {
    display: none; }

  #rightAddNetworkButtonContainer {
    flex-direction: column; }

  #changePasswordButton {
    margin: 0 auto 10px auto; }

  #cancelChangeButton {
    margin: 0 auto; } }

/*# sourceMappingURL=password-change.css.map */
