@import "../../../config/Config";

.SectionHeader{
  width: 100%;

  & > .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;

    & > .title{
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      & > .titleText{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 10px;
        p{
          color: $colorPrimary;
          font-size: 13pt;
          font-weight: 400;
        }
        i{
          color: $colorPrimary;
          font-size: 14pt;
        }
      }

      & > .titleActions{
        display: flex;
        flex-direction: row;
        & > .action{
          margin-right: 10px;

          &:last-of-type{
            margin-right: 0;
          }
        }
      }

    }

    & > .actions{
      display: flex;
      flex-direction: row;
      align-items: center;
      & > div{
        margin-right: 10px;
        &:last-of-type{
          margin-right: 0;
        }
      }
    }

  }
}