@import "../../../config/Config";

.NavUser{


  height: $sizeNavHeight;
  z-index: $zIndexNav;
  width: 100%;
  display: flex;
  justify-content: center;
  @include gradient();
  box-shadow: 0 -10px 30px 12px rgba($colorSecondary,0.3);
  position: fixed;
  top: 0;
  order: 1;



  & > .container{
    height: calc(100% - 2 * 8px);
    width: calc(100% - 2 * 10px);
    max-width: calc(#{$sizeCanvasMaxWidth} - 2 * 10px);
    padding: 8px 10px;
    display: flex;
    flex-direction: row;

    & > .logo{
      cursor: pointer;
      height: $sizeNavHeight - 16 - 2;
      width: $sizeNavHeight - 16 - 2;
      border-radius: calc((#{$sizeNavHeight} - 16px)/2);
      background: #ffffff;
      overflow: hidden;
      position: relative;
      border: 1px solid transparent;

      & > .default{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        transition: transform 0.2s;
        will-change: transform;
        position: absolute;
        background: #ffffff;
        & > img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      & > .back{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.2s;
        will-change: transform;
        position: absolute;
        background: #ffffff;

        i{
          color: $colorSecondary;
          font-size: 22pt;
        }
      }

      &[data-back="true"]:hover{
          & > .default{
            transform: translateX(-100%);
            transition: transform 0.2s;
            will-change: transform;
          }
        & > .back{
          transform: translateX(0);
          transition: transform 0.2s;
          will-change: transform;
        }
      }
    }

    & > .content{
      height: 100%;
      flex: 1;

      & > .title{
        padding-left: 20px;
        display: flex;
        align-items: center;
        height: 100%;
        & > .icon {
          margin-right: 8px;
          line-height: 0.5;
          i{
            font-size: 16pt;
            color: #ffffff;

          }
        }
        & > p{
          font-size: 16pt;
          color: #ffffff;
          text-align: left;
          font-weight: 500;
          font-family: $fontPrimary;
        }
      }

    }

    & > .account{
      height: 100%;
      margin-left: auto;

      & > .container{
        box-shadow: 0 -10px 30px 12px rgba($colorSecondary,0.3);
        height: calc(100% - 2 * 6px - 2 * 1px);
        width: auto;
        min-width: calc(160px + 2 * 6px);
        padding: 6px;
        background: #ffffff;
        border-radius:calc(#{$sizeNavHeight - 16}/2);
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid transparent;

        & > .image{
          height: 48px - 2px;
          width: 48px - 2px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #f5f5f5;


          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            //@include fade-in(0.1s);
          }
        }

        & > .content{
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding-left: 10px;
          padding-right: 10px;


          & > .label{
            margin-bottom: 2px;
              p{
                font-weight:500;
                font-size: 8pt;
                color: $colorSecondary;

              }
          }
          & > .name{
            p{
              font-family: $fontSecondary;
              font-size: 11pt;
              line-height: 1.4;
              letter-spacing: -0.05pt;
              color: #111;
              font-weight: 300;
            }
          }
        }

        & > .action{
          margin-right: 6px;
          & > .toggleIcon{
            cursor: pointer;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background 0.2s;
            i{
              font-size: 12pt;
              color: #aaa;
              user-select: none;
            }
            &:hover{
              background: #eeeeee;
              transition: background 0.2s;
            }
          }
        }


      }
    }

  }


  &.NavUserProfile{
    background: #ffffff;
    box-shadow: 0 10px 38px -12px rgba(0,0,0,0.15);
    border-bottom: 1px solid transparent;
    transition: box-shadow 0.2s, border 0.2s;
    &[data-top="true"]{
      box-shadow: 0 10px 38px -12px rgba(0,0,0,0);
      border-bottom: 1px solid #f5f5f5;
      transition: box-shadow 0.2s, border 0.2s;
    }

    & > .container{
      position: relative;
      & > .logo{
        border: 1px solid #eee;
        & > .back {
          background: #f8f8f8;
          border-radius: 50%;
        }


      }
      & > .content{
        display: flex;
        flex-direction: row;
        z-index: 1;
        & > .steps{
          flex: 1;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          & > .title{
            padding-left: 20px;
            padding-right: 20px;
            p{
              font-size: 14pt;
              font-weight: 600;
              color: $colorTable_GrayBlue_Black;
            }
          }
          & > .chosen{
            padding: 10px 10px 10px 15px;
            display: flex;
            align-items: center;
            justify-items: center;
            border: 1px solid #eeeeee;
            border-radius: 4px;
            position: relative;
            user-select: none;

            &[data-flow-visible="true"]{
              & > .icon{
                background: #f5f5f5;
                transition: background 0.15s;
                i{
                  color: darken($colorSecondary, 15%);

                  transform: rotate(180deg);
                  transition: transform 0s, color 0.1s;
                  will-change: transform;
                }
              }
            }

            &[data-flow-visible="false"]{
              & > .icon{
                background: #fff;
                transition: background 0.15s;
                i{
                  color: $colorSecondary;

                  transform: rotate(0deg);
                  transition: transform 0s, color 0.1s;
                  will-change: transform;
                }
              }
            }

            & > p{
              font-size: 12pt;
              font-weight: 600;
              color: $colorSecondary;
              margin-right: 15px;
            }
            & > .icon{
              height: 26px;
              width: 26px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 13px;
              background: #ffffff;
              cursor: pointer;

              &:hover{
                background: #f5f5f5;
                transition: background 0.15s;
              }
              i{
                color: $colorSecondary;
                font-size: 14pt;

              }
            }

            & > .flowBox{
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 50px;
              left: 0;
              background: #ffffff;
              border: 1px solid #eeeeee;
              box-shadow: 0 12px 48px -15px rgba(0,0,0,0.3);
              width: 200px;
              pointer-events: none;
              opacity: 0;

              & > .step{
                padding: 15px;
                cursor: pointer;
                p{
                  color: $colorTable_GrayBlue_Black;
                  font-size: 10pt;
                  text-align: center;
                  font-weight: 500;
                }
                &:hover{
                  background: #f5f5f5;
                }
                &[data-active="true"]{
                  p{
                    color: $colorSecondary;
                  }
                }
              }

              &[data-visible="true"]{
                  pointer-events: all;
                  opacity: 1;
              }
            }
          }



        }
        & > .networks{
          height: $sizeNavHeight - 16px - 8px;
          padding: 4px 0;
          opacity: 0;
          &[data-visible="false"]{
            opacity: 0;
            transition: opacity 0.1s;
            pointer-events: none;
          }
          &[data-visible="true"]{
            opacity: 1;
            transition: opacity 0.25s;
            pointer-events: all;
          }
          & > .list{
            height: 100%;
            display: flex;

            & > *:last-child{
              margin-right: 0;
            }

            & > .NetworkMini, & > .NetworkMiniMore{
              height: $sizeNavHeight - 16px - 8px;
              width: $sizeNavHeight - 16px - 8px;
              margin-right: 10px;
              & > .container{
                border: 1px solid $colorTable_GrayBlue_Light;
                box-shadow: 0 4px 15px rgba(0,0,0,0.02);

                &:hover{
                  background: #ffffff;
                  box-shadow: 0 2px 10px -1px rgba(#000, 0.1);
                  transform: translateY(0);
                  transition : box-shadow 0.2s, transform 0.2s, background 0.2s;
                  will-change: transform;
                  &:after{
                    opacity: 0;
                  }

                }
              }
            }

            & > .NetworkMiniMore{
              & > .container{
                box-shadow: none;
                &:hover{
                  background: #f5f5f5;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }

      & > .account{
        z-index: 2;
        position: absolute;
        opacity: 1;
        height: 100%;
        right: 10px;
        & > .container{
          height: calc(100% - 2 * 6px - 2 * 1px - 2 * 8px);
          box-shadow: none;
          border: 1px solid #eee;
        }

        &[data-visible="false"]{
          opacity: 0;
          transition: opacity 0.1s;
          pointer-events: none;
        }
        &[data-visible="true"]{
          opacity: 1;
          transition: opacity 0.25s;
          pointer-events: all;
        }
      }
    }
  }

}