@import "../../../../config/Config";

.PortfolioSection{
  width: 100%;
  display: flex;
  flex-direction: column;



  & > .grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
    & > *{
      grid-column: span 1;
    }
  }

}