@import "../../../../config/Config";

.SideBarElement{

  & > .inner{
    width: calc(100% - 2* 10px);
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;


    & > .container{
      width: calc(#{$sizeSideBarWidth} - 20px - 2px);
      height: calc(#{$sizeSideBarWidth} - 20px - 2px);
      border-radius:calc((#{$sizeSideBarWidth} - 20px)/2);
      background: #ffffff;
      box-shadow: 0 4px 15px -6px rgba(0,0,0,0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: box-shadow 0.2s, background 0.2s;
      & > .icon{
        i{
          color: $colorSecondary;
          transition: color 0.2s;
        }
      }
      &:hover{
        background: #fff;
        box-shadow: 0 6px 15px -4px rgba(0,0,0,0.2);
        transition: box-shadow 0.2s, background 0.2s;
      }
    }

    & > .tooltip{
      position: absolute;
      left: calc(#{$sizeSideBarWidth} + 10px);
      pointer-events: none;
      opacity: 0;
      transition: opacity 0s;
      will-change: opacity;


      & > .container{
        padding: 4px 8px;
        border-radius: 4px;
        background: rgba(0,0,0,0.8);
        box-shadow: 3px 3px 15px rgba(0,0,0,0.2);

        p{
          color: #ffffff;
          font-weight: 400;
          font-size: 9pt;
        }
      }
    }

    &:hover{
     &> .container{
       & > .icon{
         i{
           color: darken($colorSecondary, 10%);
         }

       }
     }
      & > .tooltip{
        opacity: 1;
        transition: opacity 0s;
        will-change: opacity;
      }
    }
  }



  &.active {
    & > .inner {
      & > .container {
        @include gradient();
        transition: background 0.2s, box-shadow 0.2s;
        box-shadow: none;
        & > .icon{
          i{
            color: #ffffff;
            transition: color 0.2s;
          }
        }
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}