.gradient, #introHeader, .introFeatureCard {
  background: #04befe;
  background: linear-gradient(15deg, #4481eb, #04befe);
  background: -webkit-linear-gradient(15deg, #4481eb, #04befe);
  background: -moz-linear-gradient(15deg, #4481eb, #04befe);
  background: -o-linear-gradient(15deg, #4481eb, #04befe); }

.gradient85 {
  background: #04befe;
  background: linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85));
  background: -webkit-linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85));
  background: -moz-linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85));
  background: -o-linear-gradient(15deg, rgba(68, 129, 235, 0.85), rgba(4, 190, 254, 0.85)); }

.gradient25 {
  background: #04befe;
  background: linear-gradient(25deg, #4481eb, #04befe);
  background: -webkit-linear-gradient(25deg, #4481eb, #04befe);
  background: -moz-linear-gradient(25deg, #4481eb, #04befe);
  background: -o-linear-gradient(25deg, #4481eb, #04befe); }

.gradientPurple {
  background: #7F00FF;
  background: linear-gradient(-25deg, #7F00FF, #E100FF);
  background: -webkit-linear-gradient(-25deg, #7F00FF, #E100FF);
  background: -moz-linear-gradient(-25deg, #7F00FF, #E100FF);
  background: -o-linear-gradient(-25deg, #7F00FF, #E100FF); }

.gradientOrange {
  background: #f9d423;
  background: linear-gradient(25deg, #f9d423, #ff4e50);
  background: -webkit-linear-gradient(25deg, #f9d423, #ff4e50);
  background: -moz-linear-gradient(25deg, #f9d423, #ff4e50);
  background: -o-linear-gradient(25deg, #f9d423, #ff4e50); }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.transition01 {
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s; }

.transition02 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s; }

.transition03, .introFeatureCard, .introFeatureCardSelected, .sendButton, .sendButton:hover, .sendButton:active, .questionContainer, .questionTitleContainer, .questionExpandButton, .questionExpandButton:hover, #connAddItemOuterContainer {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s; }

.transition05, #introToolbarButtonConnect div, #introToolbarButtonConnect div span, #introToolbarButtonConnect div:hover, #introToolbarButtonConnect div:hover span, .introToolbarDivider, .introToolbarButton:hover .introToolbarDivider, #introToolbarButtonConnect:hover .introToolbarDivider, .introFeatureMainFront, .introFeatureCardButtonOutlineWhite, .introFeatureCardButtonOutlineWhite:hover, .introFeatureCardButtonOutlineWhite:active {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; }

.disableClick {
  filter: grayscale(50%);
  opacity: 0.5;
  pointer-events: none; }

#introHeader {
  display: flex;
  flex-direction: column; }

#introToolbar {
  height: 70px;
  width: 100%;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  /*center-horizontal*/
  padding-bottom: 5px; }

/* align-items: center; ==> center-vertical*/
#introToolbarLogo {
  height: 100%;
  max-height: 40px;
  width: auto; }

#introToolbarButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%; }

.introToolbarButton, #introToolbarButtonConnect {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
  cursor: pointer; }

.introToolbarButton span, #introToolbarButtonConnect span {
  padding: 0 20px;
  border-radius: 18px;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9pt; }

#introToolbarButtonConnect div {
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border: 1px solid #ffffff; }

#introToolbarButtonConnect div span {
  padding: 0 20px;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  font-size: 9pt;
  color: #ffffff;
  text-transform: uppercase; }

#introToolbarButtonConnect div:hover {
  background: #ffffff; }

#introToolbarButtonConnect div:hover span {
  color: #04befe; }

.introToolbarDivider {
  margin-top: 3px;
  width: 0;
  background: #ffffff;
  height: 1px; }

.introToolbarButton:hover .introToolbarDivider, #introToolbarButtonConnect:hover .introToolbarDivider {
  width: 80%; }

#mainHeaderContent {
  height: 360px;
  padding-left: 0 !important;
  padding-right: 0 !important; }

#introToolbarLogoContainer {
  padding: 0; }

#mobileIntroLogo {
  margin-bottom: 20px;
  display: none; }

.mobileDivider {
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin-bottom: 20px;
  display: none; }

#introPlanetParent {
  height: 100%;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center; }

#introPlanet {
  height: 300px;
  width: 300px; }

#mainHeaderHeadlineContainer {
  width: 100%;
  display: flex;
  align-items: center; }

@media all and (max-width: 992px) {
  .mobileDivider {
    display: block; }

  #introToolbarLogoContainer {
    padding-left: 15px; }

  #introToolbarLogo {
    max-width: 70%;
    object-fit: contain; }

  .introToolbarButton, #introToolbarButtonConnect {
    padding-left: 0; }

  .introToolbarButton span, #introToolbarButtonConnect span {
    font-size: 8pt;
    padding: 0 10px; }

  #introToolbarButtonConnect {
    padding-left: 0;
    height: 28px;
    border-radius: 14px; }

  #introToolbarButtonConnect div span {
    font-size: 8pt;
    padding: 0 10px; }

  #introToolbarButtons {
    justify-content: flex-end; }

  #introToolbarButtonConnect {
    margin-right: 20px; }

  #introToolbarInnerContainer {
    padding: 0 !important; }

  #mainHeaderContent {
    height: auto;
    padding-bottom: 20px;
    padding-top: 0; }

  #introPlanetParent {
    min-height: 180px; }

  #introPlanet {
    height: 150px;
    width: 150px;
    animation-name: changePosition10; }

  #mainHeaderHeadlineContainer {
    flex-direction: column; } }
#introHeadline, #introHeadline span {
  color: #ffffff;
  font-size: 30pt;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif; }

#introHeadlineAbout {
  color: #fff;
  margin-top: 20px;
  width: 100%;
  font-size: 13pt;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

@media all and (max-width: 992px) {
  #introHeadline, #introHeadline span {
    font-size: 22pt;
    text-align: center;
    flex: 1; }

  #introHeadlineAbout {
    text-align: justify;
    text-align-last: center;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px; } }
#introPlanet {
  animation-duration: 1s;
  animation-name: changePosition20;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes changePosition20 {
  from {
    margin-bottom: -20px; }
  to {
    margin-bottom: 20px; } }
@keyframes changePosition10 {
  from {
    margin-bottom: -10px; }
  to {
    margin-bottom: 10px; } }
.introSectionTitle {
  font-size: 15pt;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 30px;
  text-transform: uppercase; }

#who {
  padding-bottom: 50px; }

.introFeatureCard {
  width: 100%;
  min-height: 400px;
  border-radius: 30px;
  top: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.085);
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.introFeatureCardSelected {
  margin-top: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.085); }

.introFeatureCardImageContainer {
  padding: 40px 40px 20px 40px; }

.introFeatureCardImageContainer img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto; }

.introFeatureMainContainer {
  flex: 1;
  border-radius: 0 0 29px 29px;
  position: relative;
  width: 100%;
  height: 210px; }

.introFeatureMainFront {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0 0 29px 29px;
  position: absolute; }

.introFeatureMainBack {
  height: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  flex-direction: column;
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0 0 29px 29px;
  position: absolute;
  color: #ffffff;
  transition: height 0.2s,padding 0.2s,opacity 0.1s, color 0.1s; }

.introFeatureMainBackSelected {
  height: 100%;
  padding: 20px;
  opacity: 100;
  color: #aaaaaa;
  transition: height 0.2s,padding 0.2s,opacity 0.5s, color 0.5s; }

.introFeatureCardTitle {
  width: 100%;
  max-width: 200px;
  font-size: 11pt;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  min-height: 60px; }

.introFeatureCardButtonOutlineWhite {
  height: 46px;
  border-radius: 23px;
  background: transparent;
  border: 1px solid #ffffff;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  min-width: 160px;
  padding: 0 20px;
  cursor: pointer; }

.introFeatureCardButtonOutlineWhite:hover, .introFeatureCardButtonOutlineWhite:active {
  background: #ffffff;
  color: #04befe; }

.introFeatureCardButtonPrimary {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 23px;
  background: transparent;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #04befe; }

.introFeatureCardButtonPrimary:hover, .introFeatureCardButtonPrimary:active {
  color: #03A0DC; }

.introFeatureCardBackText {
  width: 100%;
  font-size: 11pt;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif; }

.desktopOutlineOuter {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-radius: 45px 45px 0 0;
  height: 350px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.desktopCameraCircle {
  width: 10px;
  height: 10px;
  border: 1px solid #dddddd;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 50%; }

.desktopOutlineInner {
  width: 100%;
  flex: 1;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-radius: 26px 26px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.howSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px; }

.howSectionTitle {
  font-family: "Quicksand_Book", "Source Sans Pro", sans-serif;
  color: #04befe;
  font-size: 15pt; }

.howSectionContent {
  flex: 1;
  padding-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11pt;
  color: #888888;
  width: 100%;
  max-width: 300px;
  text-align: left; }

.howContainer {
  padding: 40px 0 0 0;
  width: 100%; }

.blobBackShape {
  position: absolute;
  z-index: -1;
  top: 120px;
  width: 80%;
  left: 20%; }

.nameEmailContainer {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px; }

@media all and (max-width: 1000px) {
  #introHeadline, #introHeadline span {
    font-size: 18pt; }

  .introSectionTitle {
    padding-top: 40px;
    padding-bottom: 10px; }

  .howSection {
    width: 100%;
    justify-content: center;
    align-items: center; }

  .howContainer {
    padding-top: 20px; }

  .howSectionTitle {
    text-align: center; }

  .howSectionContent {
    text-align: justify; } }
body .HELPERContentContainer {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text; }

.stepSectionContent {
  flex: 1;
  padding-top: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11pt;
  color: #222222;
  width: 100%;
  max-width: 600px;
  text-align: center; }

.stepSectionTitle {
  font-size: 15pt;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  color: #000000;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  text-transform: uppercase; }

@media all and (max-width: 992px) {
  .stepSectionTitle {
    padding-top: 40px;
    padding-bottom: 20px; } }
#sendButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-height: 80px; }

.sendButton {
  height: 46px;
  border-radius: 23px;
  background: #04befe;
  border: 1px solid #04befe;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  min-width: 160px;
  padding: 0 20px;
  cursor: pointer;
  box-shadow: 0 0 30px 0 rgba(4, 190, 254, 0.4);
  margin-top: 5px; }

.sendButton:hover, .sendButton:active {
  margin-top: 0px; }

@media all and (max-width: 992px) {
  body .customContainerPadding {
    padding-left: 0;
    padding-right: 0; }

  #sendButtonContainer {
    min-height: 60px; }

  #leftContainer {
    padding: 20px; } }
#videoWrapperContainer {
  width: 100%;
  max-width: 600px; }

#videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

#videoWrapper iframe, #videoWrapper object, #videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.questionContainer {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #eeeeee;
  display: flex;
  background: #ffffff;
  margin-bottom: 5px;
  flex-direction: column; }

.questionContainer:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.085); }

.questionTitleContainer {
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  z-index: 1;
  background: #ffffff;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.questionTitle {
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  color: #04befe;
  font-size: 14pt;
  flex: 1;
  padding-right: 10px; }

.questionExpandButton {
  cursor: pointer;
  text-transform: none;
  font-size: 10pt;
  padding: 5px 10px;
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
  border-radius: 15px; }

.questionExpandButton:hover {
  color: #ffffff;
  background: #c5c5c5; }

.questionAnswerContainer ul {
  margin-bottom: 0; }

.questionAnswerContainer {
  width: 100%;
  display: none; }

.questionAnswerInnerContainer {
  padding: 30px;
  width: 100%;
  background: #ffffff;
  border-radius: 0 0 5px 5px; }

.questionAnswerSubtitle {
  margin-bottom: 5px;
  font-family: "Quicksand_Bold", "Source Sans Pro", sans-serif;
  font-size: 12pt; }

.questionAnswerButtonContainer {
  width: 100%;
  display: flex;
  padding-top: 30px;
  justify-content: center; }

@media all and (max-width: 992px) {
  .questionTitle {
    font-size: 12pt; } }
/**
ADD NETWORK SECTION
 */
#connAddItemOuterContainer {
  opacity: 0.4;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.connAddItemContainer {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin: 15px auto 0;
  /*background: #f3f8fa;*/
  border: 1px solid #c5c5c5;
  position: relative; }

.connAddItemMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px; }

.connItemCredentialsContainer {
  width: 100%;
  display: flex;
  justify-content: center; }

.connAddItemDetailButton {
  background: #ffffff;
  height: 38px;
  width: 96%;
  text-align: center;
  max-width: 200px;
  right: 0;
  text-decoration: none;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  font-size: 9pt; }

#connAddItemOuterContainer:hover {
  -webkit-animation: fadeinAdd 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinAdd 0.2s;
  /* Firefox < 16 */
  -o-animation: fadeinAdd 0.2s;
  /* Opera < 12.1 */
  animation: fadeinAdd 0.2s;
  opacity: 1; }

.connAddItemIcon {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.8; }

.questionAnswerSpecialContainerAdd {
  display: flex;
  flex-direction: row;
  align-items: center; }

.questionAnswerSpecialContainerAdd > span:first-child {
  padding-right: 20px; }

@media all and (max-width: 992px) {
  .questionAnswerSpecialContainerAdd {
    flex-direction: column;
    justify-content: center; }

  .questionAnswerSpecialContainerAdd > span:first-of-type {
    padding-right: 0; } }

/*# sourceMappingURL=intro-ask.css.map */
