@import "../../../config/Config";

.IconHelper{


    & > .help{
      z-index: 8;
      order: 2;
      position: absolute;
      top: 40px;
      margin-left: -5px;

      background: $colorTable_GrayBlue_Black;
      padding: 15px;
      border-radius: 4px;
      width: calc(230px - 2 * 15px);
      max-height: 300px;
      overflow-y: auto;
      opacity: 0;
      transition: background 0.15s;
      pointer-events: none;

      &> p{
        color: #ffffff;
        text-align: left;
        font-size: 9pt;
        font-weight: 400;
        user-select: none;
      }
    }

  &:hover, &:active, &:focus{

    &  > .help{
      opacity: 1;
      transition: background 0.15s;
      pointer-events: all;
    }

  }

  &[data-force="top"]{
    & > .help{
        top: initial;
        left: initial;
        right: initial;
        bottom: 40px;
    }
  }
  &[data-force="bottom"]{
    & > .help{
        bottom: initial;
        left: initial;
        right: initial;
        top: 40px;
    }
  }
  &[data-force="left"]{
    & > .help{
        bottom: initial;
        left: initial;
        right: 40px;
        top: 0;
    }
  }
  &[data-force="right"]{
    & > .help{
        bottom: initial;
        right: initial;
        left: 63px;
        top: 0;
      }
  }
}