/*
 * Project values
 */


$colorPrimary : #04BEFE;
$colorSecondary : #4481eb;
$colorBackground : #f3f8fa; //#fafafa;


$sizeCanvasMaxWidth : 1200px;
$sizeNavHeight : 76px;
$sizeCanvasPaddingDashboard : 20px;
$sizeCanvasPaddingMobile : 30px;
$sizeSideBarWidth : 80px;

$fontPrimary : 'Quicksand',  'Montserrat', sans-serif;
$fontSecondary : 'Montserrat', sans-serif;


$zIndexNav : 100;
$zIndexOverlay : 80;
$zIndexCover : 90;
$zIndexSideBar : 10;


$borderRadiusNetworkCard : 22px;
$paddingNetworkCard  : $borderRadiusNetworkCard - 6;
$countNetworksOnRow : 5;
$sizeNetworkImageMax : 90px;



/**
 * Colors
 */




$colorTable_Blue1 : #04BEFE;
$colorTable_Blue2 : #03A0DC;
$colorTable_Purple1 : #7F00FF;
$colorTable_Purple2 : #E100FF;
$colorTable_Red1 : #F44336;
$colorTable_Green1 : #4CAF50;
$colorTable_Yellow1 : #FFEB3B;
$colorTable_Orange1 : #FF9800;


$colorTable_GrayBlue_Black : #40474f;
$colorTable_GrayBlue_Dark : #8B9AAC;
$colorTable_GrayBlue_Light : #e4e8f0;
$colorTable_GrayBlue_DarkText : $colorTable_GrayBlue_Dark;




@mixin gradient($primary : $colorPrimary, $secondary : $colorSecondary, $angle : -25deg){
  background: $primary;
  background: linear-gradient($angle, $primary , $secondary);
  background: -webkit-linear-gradient($angle, $primary , $secondary);
  background: -moz-linear-gradient($angle, $primary , $secondary);
  background: -o-linear-gradient($angle, $primary , $secondary);
}


/**
 * Sizes
 */
$col-canvas : $sizeCanvasMaxWidth;
$col-lg-extended : 1100px;
$col-lg : 992px;
$col-md: 768px;
$col-sm : 500px;


$tablet-big: "all and (max-width : #{$col-lg-extended}) and (min-width : #{$col-lg  + 1})";
$tablet : "all and (max-width : #{$col-lg}) and (min-width : #{$col-md  + 1})";
$mobile-big: "all and (max-width : #{$col-md}) and (min-width : #{$col-sm  + 1})";
$mobile : "all and (max-width : #{$col-sm})";


$top-canvas-big : "all and (max-width : #{$col-canvas})";
$top-tablet-big : "all and (max-width : #{$col-lg-extended})";
$top-tablet : "all and (max-width : #{$col-lg})";
$top-mobile-big: "all and (max-width : #{$col-md})";
$bottom-mobile-big: "all and (min-width : #{$col-md + 1})";
$top-mobile : "all and (max-width : #{$col-sm})";








/*
 * Styles
 */

.Page{
  order: 2;
  width: 100%;
  background: $colorBackground;
  min-height: 100vh;
  & > .container{
    width: calc(100% - 2 * 1px);
    max-width: calc(#{$sizeCanvasMaxWidth} - 2 * 1px);
    min-height: 100%;
    margin: 0 auto;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;


    /** & > SideBar **/
    & > .content{
      flex: 1;
      padding: calc(#{$sizeNavHeight} + 25px) $sizeCanvasPaddingDashboard $sizeCanvasPaddingDashboard $sizeCanvasPaddingDashboard;
    }

  }

  &[data-nav-fixed="true"]{

    & > .container{
      & > .content{

      }
    }

    & + nav{
      position: absolute !important;
      box-shadow: none !important;
    }
  }
}

@mixin button_icon_component(){
  & > .icon, .icon {
    width: 20px;
    margin-right: 6px;
    margin-left: -10px;
    line-height: 1em;
    i {
      font-size: 12pt;
    }
  }
}

@mixin button_default($background : $colorPrimary,  $color : #ffffff, $backgroundHover : darken($background, 10%), $colorHover: $color, $transition : 0.2s){
  & > .container{
    background: $background;
    transition: background $transition;
    @include button_icon_component;
    & > .icon i, & > .label p{
      color: $color;
      transition: color $transition;
    }

    &:hover, &:active, &:focus{
      background:$backgroundHover;
      transition: background $transition;

      & > .icon i, & > .label p{
        color: $colorHover;
        transition: color $transition;
      }
    }

  }
}


@mixin button_outline($outline : $colorPrimary,  $color : $colorPrimary, $outlineHover : darken($outline, 10%), $colorHover: #ffffff, $background : transparent, $backgroundHover : $outlineHover, $transition : 0.2s){
  & > .container{
    background: $background;
    border: 1px solid $outline;
    transition: background $transition, border $transition;
    @include button_icon_component;
    & > .icon i, & > .label p{
      color: $color;
      transition: color $transition;
    }

    &:hover, &:active, &:focus{
      border: 1px solid $outlineHover;
      background:$backgroundHover;
      transition: background $transition, border $transition;

      & > .icon i, & > .label p{
        color: $colorHover;
        transition: color $transition;
      }
    }

  }
}

@mixin button_simple($color : $colorPrimary, $colorHover : darken($color, 7%), $backgroundHover:transparent, $transition : 0.2s){
  & > .container{
    background: transparent;
    border: 1px solid transparent;
    transition: background 0.2s;
    @include button_icon_component;
    & > .icon i, & > .label p{
      color: $color;
      transition: color 0.2s;
    }

    &:hover, &:active, &:focus{
      background: $backgroundHover;
      border: 1px solid transparent;
      transition: background 0.2s;
      & > .icon i, & > .label p{
        color: $colorHover;
        transition: color 0.2s;
      }
    }
  }
}


@mixin button_default_gray(){
  @include button_default($colorTable_GrayBlue_Light, $colorTable_GrayBlue_DarkText, darken($colorTable_GrayBlue_Light, 6%), darken($colorTable_GrayBlue_DarkText,5%) );
}

@mixin button_outline_gray(){
  @include button_outline($colorTable_GrayBlue_Light, $colorTable_GrayBlue_DarkText, darken($colorTable_GrayBlue_Light, 6%), darken($colorTable_GrayBlue_DarkText,5%) );
}

@mixin button_simple_gray(){
  @include button_simple($colorTable_GrayBlue_DarkText,darken($colorTable_GrayBlue_DarkText, 10%), #fafafa );
}




/*
 * Van Normalizer
 */

html {
  background: $colorBackground;
  overflow-x: hidden;
  p, h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a{
    -webkit-appearance: none;
    text-decoration: none;

    &:link {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }


  * {
    font-family: $fontSecondary;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  i{
    line-height: 1.4 !important;
  }

}

@keyframes fade-in {
  from {opacity: 0} to{opacity: 1}
}
@keyframes fade-out {
  from {opacity: 1} to{opacity: 0}
}
@mixin fade-in($duration : 0.2s, $delay : 0s){
  animation-name: fade-in;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: $duration;
  animation-delay: $delay;
}

@mixin fade-out($duration : 0.2s, $delay : 0s){
  animation-name: fade-out;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: $duration;
  animation-delay: $delay;
}

@mixin ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




