@import "../../../config/Config";
.Cover {
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  z-index: $zIndexCover;
  div[data-alias="Overlay"]{
    z-index: 1;
  }


  & > .inner {
    z-index: 2;
    position: fixed;
    pointer-events: all;
    right: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    will-change: transform;
    overflow-y: auto;
    @include gradient($colorPrimary, $colorSecondary, 180deg);


    & > .container {
      width: calc((#{$sizeCanvasMaxWidth} * 0.5) - 30px - 10px);
      padding: calc(#{$sizeNavHeight} + 30px) 10px 30px 30px;

      & > .inner{
        width: 100%;

        & > section{
          width: 100%;
          display: flex;
          flex-direction: column;
          &:first-of-type{
            & > .header{
              padding-top: 0;
            }
          }
          & > .header {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            padding: 30px 0;

            & > .title{
              p{
                font-size: 12pt;
                font-family: $fontSecondary;
                font-weight: 400;
                position: relative;
                &:after{
                  content : '';
                  position: absolute;
                  bottom: -3px;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  border-radius: 1px;
                  background: rgba(255,255,255,0.3);
                }
              }
              p, i, span{
                color: #ffffff;
              }
            }
          }

          & > .card {
            width: 100%;
            height: 200px;
            border-radius: $borderRadiusNetworkCard;
            background: #ffffff;
            box-shadow: 0 12px 30px -15px rgba(0,0,0,0.3);
            & > .container{
              width: calc(100% - 2 * #{$borderRadiusNetworkCard});
              height: calc(100% - 2 * #{$borderRadiusNetworkCard});
              padding: $borderRadiusNetworkCard;
              display: flex;
              flex-direction: row;
              align-items: center;

              & > .icon{
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 15px;
                margin-right: 20px;
                & > img{
                  width: 100%;
                  height: 100%;
                  max-width: 110px;
                  max-height: 110px;
                  object-fit: contain;
                  user-select: none;
                }
              }

              & > .main{
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 50px 0 20px;
                justify-content: center;
                align-items: flex-start;
                flex: 1;

                & > .title{
                  margin-bottom: 8px;
                  p{
                    letter-spacing: -0.05em;
                    font-size: 18pt;
                    font-weight: 400;
                    font-family: $fontPrimary;
                    color: $colorTable_GrayBlue_Black; //#111;
                  }
                }
                & > .description{
                  display: flex;
                  align-items: center;
                  & > .icon{
                    line-height: 1em;
                    display: flex;
                    align-items: center;
                    i{
                      font-size: 16pt;
                      color:lighten($colorTable_GrayBlue_DarkText, 15%);
                    }
                    &:after{
                      padding-top: 3px;
                      padding-left: 1px;
                      //content: '/';
                      color:lighten($colorTable_GrayBlue_DarkText, 25%);
                      font-weight: 600;
                    }
                  }
                  p{
                    padding-left: 3px;
                    font-size: 13pt;
                    color:lighten($colorTable_GrayBlue_DarkText, 10%); //#999;
                    font-weight: 400;
                    font-family: $fontSecondary;

                  }
                }

              }

              & > .actions{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & > .action{
                  margin-bottom: 20px;
                  width: 50px;
                  height: 50px;
                  background: #ffffff;
                  border-radius: 25px;
                  box-shadow: 0 3px 20px -2px rgba(0,0,0,0.1);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: box-shadow 0.2s;
                  cursor: pointer;

                  i {
                    font-size: 14pt;
                  }

                  &.statistic{
                    background: #ffffff;
                    transition: background 0.15s;
                    i{
                      color: $colorTable_Orange1;
                      transition: color 0.15s;
                    }

                    &:hover{
                      background: $colorTable_Orange1;
                      transition: background 0.15s;
                      i{
                        color: #ffffff;
                        transition: color 0.15s;
                      }
                    }
                  }

                  &.view{
                    background: #ffffff;
                    transition: background 0.15s;
                    i{
                      color: $colorSecondary;
                      transition: color 0.15s;
                    }

                    &:hover{
                      background: $colorSecondary;
                      transition: background 0.15s;
                      i{
                        color: #ffffff;
                        transition: color 0.15s;
                      }
                    }
                  }

                  &:last-of-type{
                    margin-bottom: 0;
                  }
                }
                /**
                Visit + Statistics
                 */
              }
            }
          }


          & > .content{
            display: flex;
            flex-direction: column;

            & > .description{
              p,span{
                font-size: 11pt;
                color: #ffffff;
                font-weight: 300;
              }
            }

            & > .actions{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              & > .action{
                padding: 6px 8px;
                border-radius: 4px;
                background: rgba(255,255,255,0.1);
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                opacity: 0.85;
                cursor: pointer;
                transition: opacity 0.15s, background 0.15s;

                &:last-child{
                  margin-bottom: 0;
                }

                & > .icon{
                  i{
                    font-size: 12pt;
                    color: #ffffff;
                    line-height: 1.4 !important;
                  }

                }

                & > .title{
                  padding-left: 6px;
                  p{
                    font-size: 9pt;
                    color: #ffffff;
                    font-weight: 500;
                    line-height: 1.4 !important;
                    span{
                      font-weight: 400;
                    }
                  }
                }


                &:hover{
                  opacity: 1;
                  background: rgba(255,255,255,0.3);
                  transition: opacity 0.15s, background 0.15s;
                }
              }

            }
          }

        }

      }

    }

  }

  @keyframes cover-open {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes cover-close {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  &[data-visible="true"] {
    & > .inner {
      pointer-events: all;
      animation-name: cover-open;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-direction: normal;
    }


  }

  &[data-visible="false"] {
    & > .inner {
      animation-name: cover-close;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-direction: normal;
      pointer-events: none;
    }
  }

  &[data-visible="init"] {
    & > .inner {
      animation-name: none;
      pointer-events: none;
      transform: translateX(100%);
    }
  }


}


@media #{$top-canvas-big} {
  .Cover{
    & > .inner{
      width: calc(100% - 30px);
      max-width: calc((#{$sizeCanvasMaxWidth} * 0.5));
      & > .container{
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100% - 2 * 30px);
      }
    }
  }
}